<h2>Reactive User Form </h2>
<form [formGroup]="userForm" (ngSubmit)="register()">
  <div class="form-group">
    <label class="center-block" >Nom:
      <input class="form-control" formControlName="nom"  >
    </label>
  </div>
  <div [hidden]="userForm.get('nom').valid"> le champ est obligatoire </div>
<div class="form-group">
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>
  </div>
<div class="form-group">
    <label class="center-block">Cin:
      <input class="form-control" formControlName="cin">
    </label>
  </div>
<button type="submit" class="btn btn-success">Ajouter</button>

</form>

<p>Form value: {{ userForm.value | json }}</p>
<p>Form status: {{ userForm.status | json }}</p>
<p>Name value: {{ userForm.get('nom').value }}</p>

<p>Name Status: {{ userForm.get('nom').status }}</p>;
<p>Email Status: {{ userForm.get('email').status }}</p>>
