<!--The content below is only a placeholder and can be replaced.-->
{{title}}


<a routerLink="films"> films</a>
<a routerLink="actors"> actors</a>
<a routerLink="salles"> salles</a>
<a routerLink="adduser"> add user</a>
<a routerLink="reactive"> Reactive form</a>
<a routerLink="area"> area</a>
<a routerLink="events"> events</a>
<router-outlet></router-outlet>


