<button (click)="getFavoris()">{{showFavoris ? 'Masquer favoris' : 'Afficher Favoris'}}</button>
<div *ngIf="showFavoris == true">
  <ul class="list-group">
    <li class="list-group-item " *ngFor="let f of listFavoris">{{f.firstName}}-{{f.lastName}}</li>
  </ul>
</div>
<div>
  <form>
<input type="text" name="ref" [(ngModel)]="ref">
  </form>
</div>
<div *ngFor="let actor of listActors">

<app-actor [acteur]="actor" [reference]="ref" (onAddFavoris)="add($event)" (onDeleteActor)="delete($event)"></app-actor>
</div>

<h1>Ajouter un acteur</h1>
<form (ngSubmit)="addActors()">
  lastName <input type="text" name="lastName" [(ngModel)]="actor.lastName" />
  firstName <input type="text" name="firstName" [(ngModel)]="actor.firstName" />
  <input type="submit" value="ajouter">
</form>
