
<h1> User Form </h1>
<form #userForm="ngForm" (ngSubmit)="register(userForm)">
  <div>
  <label for="nom"> Nom </label>
  <input type="text" id="nom" name="nom" [(ngModel)]="user.nom" #nom="ngModel" >
  </div>
  <div [hidden]="nom.valid" class="alert alert-danger">
    le nom est obligatoire
      </div>
  <div>
    <label for="email"> Email </label>
    <input type="text" id="email" name="email" [(ngModel)]="user.email"  #email="ngModel" required >
  </div>
  <div [hidden]="email.valid" class="alert alert-danger">
    le mail est obligatoire
      </div>
  <div>
    <label for="cin"> CIN </label>
    <input type="text" id="cin" name="cin" [(ngModel)]="user.cin"  #cin="ngModel" required >
  </div>

  <div>
    <label for="role"> Role </label>
    <input type="text" id="role" name="role" [(ngModel)]="user.role" >
  </div>
  <button type="submit" [disabled]="userForm.invalid"> Ajouter</button>
</form>
{{user.nom}} --- {{user.email}}
<br>
{{nom.value}} ** {{email.value}}