<h1>la liste des filmes est </h1>
<ul>
  <div *ngFor="let film of listfilms">
  <li *ngIf="film.categorie == 'action'" [ngStyle]="{'color' : film.duree === '2 heures' ? 'blue' : 'red'}"
      [hidden]="film.duree == '3 heures' ? true : false">

    {{film.nom}} - {{film.duree}} - {{film.categorie}}


  </li>
  </div>
</ul>
<ul class="list-group">
  <div *ngFor="let film of listfilms">
    <li class="list-group-item" *ngIf="film.categorie != 'action'" [ngStyle]="{'color' : film.duree === '2 heures' ? 'blue' : 'red'}"
        [hidden]="film.duree == '3 heures' ? true : false">

      {{film.nom}} - {{film.duree}} - {{film.categorie}}


    </li>
  </div>
</ul>
<button (click)="calculer()">Calculer</button>
Le nombre de films action est : {{nbActions}}
Le nombre de films autre que action est : {{nbAutres}}
