<p>
  area works!
</p>

<input type="text" [(ngModel)]="nombre"  name="nb" #nb> 
<button (click)="calculercercle()"> calculer cercle </button>
<button (click)="calculercaree()"> calculer carre </button>
<button (click)="calculercercle2(nb.value)"> calculer cercle </button>
<button (click)="calculercaree2(nb.value)"> calculer carre </button>

la surface totale est : {{surface}}


